# You can disable or disable any bow and arrow by writing lines like these inside throwing.conf
#

DISABLE_WOODEN_BOW = true
DISABLE_LONGBOW = false
DISABLE_COMPOSITE_BOW = false
DISABLE_STEEL_BOW = false
DISABLE_ROYAL_BOW = false
DISABLE_CROSSBOW = true
DISABLE_ARBALEST = true
DISABLE_AUTOMATED_ARBALEST = true

DISABLE_TELEPORT_ARROW = true
DISABLE_DIG_ARROW = true
DISABLE_BUILD_ARROW = true
DISABLE_TNT_ARROW = true
DISABLE_FIRE_ARROW = true
DISABLE_TORCH_ARROW = true
DISABLE_SHELL_ARROW = true

DISABLE_FIREWORKS_BLUE_ARROW = true
DISABLE_FIREWORKS_RED_ARROW = true

DISABLE_STONE_ARROW = false
DISABLE_STEEL_ARROW = false
DISABLE_DIAMOND_ARROW = false
DISABLE_OBSIDIAN_ARROW = false